.cardsParagraphContainer{
    padding: 30px 6vw;
}

.cardsParagraphTitle{
    font-size: 24px;
    font-family: "AvenirMedium";
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    opacity: 1;
    transition: ease 0.2;
}

.card{
    opacity: 0;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: ease 0.2s;
    animation: fadeIn 0.7s ease-in-out forwards;
    font-family: "AvenirMedium";
    color:#0c131f;
}

.cardSmall{
    width:23%
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      margin-top: 25px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }

.card:hover{
    background-color: #e5e5ef;
    transition: ease 0.2s;
}

.cardSmall img{
    width:100%;
    height:180px;
    object-fit: cover;
}

.cardText{
    padding:0 15px;
}

.cardTitle{
    height:50px;
    font-family: "AvenirHeavy";
    margin-top: 24px;
}
.cardContent{
    height: 130px;
    color:#494e57;
    font-size: 15px;
    line-height: 22px;
}

.cardLink{
    margin-top: auto;
    text-align: center;
    font-size: 13px;
    color:#127996;
}

.cardSmall .cardLink{
    display: flex;
    justify-content: center;
    padding: 16px 0;
    border-top:1px solid #f3f3f8 ;
}

.cardLink svg{
    rotate: 90deg;
    margin-left: 10px;
}

.cardBig{
    display: flex;
    margin-top: 72px !important;
    width: 100%;
    height: 28vw;
    max-height: 300px;
}

.cardBig .cardTitle{
    font-size: 24px; 
}

.cardBig .cardContent{
    font-size: 16px; 
}

.cardBig .cardLink{
    display: flex;
    justify-content: start;
}
@media screen and (max-width: 1200px) {

    .cardContent{
        height: calc(400px - 20vw);
    }
    .cardTitle {
        height: 65px;
    }
}
@media screen and (max-width: 830px) {

    .cardContainer{
        flex-direction: column;
    }
    .cardSmall{
        width: 100%;
        margin-bottom: 45px;
    }
    .cardTitle{
        height: auto;
        font-size: 14px;
    }
    .cardContent{
        height: auto;
        font-size: 12px;
    }
    .cardsParagraphTitle{
        font-size: 18px;
        font-family: "AvenirMedium";
    }
    .cardBig{
        flex-direction: column;
        display: flex;
        width: 100%;
        margin-top: 0px !important;
        height: auto;
        max-height: fit-content;
    }
    .cardBig .cardTitle{
        font-size: 14px;
    }
    .cardBig .cardContent{
        font-size: 12px;
    }
    .cardBig .cardLink{
        display: flex;
        justify-content: center;
        padding: 16px 0;
        border-top: 1px solid #f3f3f8;
    }
}

