header{
    display: flex;
    align-items: center;
    background-color: #0c131f;
}
.headerLogo{
    width:27vw;
    padding:0 5vw
}

nav{
    display: flex;
    justify-content: space-between;
    min-width: 480px;
}
nav h5{
    margin-left:5px;
    font-size: 17px;
    font-family: "AvenirMedium";
}


.headerNavButton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f3f3f4;
    border-bottom: 2px solid #0c131f;
}

.headerNavButton:hover {
    color: #8de8fe;
    border-bottom: 2px solid #8de8fe;
}

.logoSncf{
    height:60px;
}

@media screen and (max-width: 900px) {
    .headerLogo{
        width:18vw;
        padding:0 5vw
    }

    .logoSncf{
        height:50px;
    }
    nav h5{
        font-size: 15px;
        font-family: "AvenirMedium";
    }
}
@media screen and (max-width: 730px) {

    .headerLogo{
        width:18vw;
        padding:0 5vw
    }

    .logoSncf{
        height:50px;
    }

    nav{
        min-width: 400px;
    }

    nav h5{
        font-size: 12px;
        font-family: "AvenirMedium";
    }
    .headerNavButton svg{
        width: 20px;
    }
}

@media screen and (max-width: 600px) {

    .headerLogo{
        width:15vw;
        padding:0 5vw
    }

    .logoSncf{
        height: 35px;
    }

    nav{
        min-width: 320px;
    }

    nav h5{
        font-size: 10px;
        font-family: "AvenirMedium";
    }
    .headerNavButton svg{
        width: 15px;
    }
}

@media screen and (max-width: 450px) {
    .headerLogo{
        width:18vw;
        padding:0 5vw
    }

    nav{
        min-width: 250px;
    }

    nav h5{
        font-size: 10px;
        font-family: "AvenirMedium";
        margin: 4px;
    }
    .headerNavButton {
        flex-direction: column;
    }
}