
.searchBarComponent{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding:10px 0 50px 0;
}
  
.seachBarTitle{
    text-align: center;
    font-family: "AchemineBold";
    color: var(--white-color);
    font-size:34px;
    line-height: 44px;
    width: 80%;
}

/* .searchBarComponentResult{
    position: relative;
} */
  
.seachBarInput{
    position: relative;
    width: 80vw;
    justify-content: space-between;
    display: flex;
    background-color: var(--white-color);
    border-radius: 2rem;
    z-index: 2;
}

.searchBarComponent input{
    width: 150vw;
    background-color: var(--white-color);
    padding: 0 15px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #0c131f;
    min-height: 56px;
}

  
.searchButton{
    position: absolute;
    right:0px;
    height: 56px;
    width: 56px;
    border-radius: 2rem;
    background-color: #8de8fe;
    border: none;
    transition: ease .25s;
}
  
.searchButton:hover{
    background-color: #40cdf2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #848b9b;
    opacity: 70.0%;
    z-index: 1;
    display: none;
}

.overlay.active{
    display: block;
}

.searchBarComponent a{
    text-decoration: none;
    color: black;
}

ul{
    position: absolute;
    width: 80vw;
    padding: 0;
    background-color: var(--white-color);
    color: black;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    font-family: "AvenirHeavy";
}

li{
    list-style-type: none;
    width:100%;
    padding:20px;
}

li:hover{
    background-color: #e5e5ef;
}

.textSeparator{
    font-family: "AvenirMedium";
    font-size: 13px;
    color: #494e57;
    padding: 15px 0 0 15px;
}

@media screen and (max-width: 950px) {

    .seachBarTitle{
        font-size:28px;
        line-height: 38px;
    }
}

@media screen and (max-width: 730px) {

    .seachBarTitle{
        font-size:25px;
        line-height: 30px;
    }

    /* searchBar*/
    .searchBarComponent input{
        min-height: 49px;
        font-size: 14px;
    }
    .searchButton{
        height: 49px;
        width: 49px;
    }
}

@media screen and (max-width: 600px) {

    /* Title*/
    .seachBarTitle{
        font-size:20px;
        line-height: 30px;
    }

    /* searchBar*/
    .searchBarComponent input{
        min-height: 40px;
        font-size: 12px;
    }
    .searchButton{
        height: 40px;
        width: 40px;
    }
    .searchButton svg{
        height: 20px;
    }

    /* searchBar result */
    .searchBarComponent a{
        font-size: 13px;
    }
    li{
        padding:15px;
    }
    .textSeparator{
        font-size: 13px;
        padding: 10px 0 0 10px;
    }
}
@media screen and (max-width: 450px) {

    .seachBarTitle{
        font-size:18px;
        line-height: 28px;
    }

    /* searchBar*/
    .searchBarComponent input{
        min-height: 40px;
        font-size: 12px;
    }
    .searchButton{
        height: 40px;
        width: 40px;
    }
    .searchButton svg{
        height: 20px;
    }

    /* searchBar result */
    .searchBarComponent a{
        font-size: 12px;
    }
    li{
        padding:10px;
    }
    .textSeparator{
        font-size: 10px;
        padding: 10px 0 0 10px;
    }
}