

@font-face {
  font-family: "AchemineBold";
  src: url("../src/assets/fonts/Achemine/achemine_bold.ttf");
}

*{
  font-family: "AchemineBold";
}


.searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height:100vh;
}

.seachBarTitle{
  text-align: center;
  font-family: "AchemineBold";
  color: #ffffff;
  line-height: 2.75rem;
}

.seachBarInput{
  width: 80vw;
  justify-content: space-between;
  display: flex;
  background-color: white;
  border-radius: 2rem;
  position: relative;
}
.searchBar input{
  width: 150vw;
  background-color: white;
  padding: 0 1.5rem;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  color: #0c131f;
  min-height: 3.5rem;
}

.searchBar h1{
  color: #ffffff;
}

.searchButton{
  position: absolute;
  right:0px;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 2rem;
  background-color: #8de8fe;
  border: none;
  transition: ease .25s;
}

.searchButton:hover{
  background-color: #40cdf2;
}

ul{
  width: 80vw;
  padding: 0;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  overflow: hidden;
}

li{
  list-style-type: none;
  width:100%;
  padding:20px;
}
li:hover{
background-color: #e5e5ef;
}