@font-face {
  font-family: "AchemineBold";
  src: url("../src/assets/fonts/Achemine/achemine_bold.ttf");
}
@font-face {
  font-family: "AvenirMedium";
  src: url("../src/assets/fonts/Arial.TTF");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("../src/assets/fonts/Avenir/AvenirHeavy.ttf");
}


.headerOfferImg{
  width:100%;
  display: flex;
  justify-content: center;
}
.headerOfferImg img{
  max-height: 365px;
  max-width: 1260px;
  width: 90vw;
}

.homeBody{
  width:100%;
  margin: 0;
  background-color: #F3F3F8;
}

.navLineTransport{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  width: 100%;
  height:53px;
  color: #127996;
  font-family: "AvenirMedium";
  font-size: 13px;
  background-color: #FFFFFF;
  transition: 0.2s;
  overflow-x: scroll;
}


.navLineTransport a:hover{
  color: #006179
}
.navLineTransport a {
  display: flex;
  align-items: center;
  font-size: 13px;
}

.navLineTransport a svg{
  rotate: 90deg;
  margin-left:8px
}

@media screen and (max-width: 750px) {

  .navLineTransport{
    gap: 3vw;
  }
  .navLineTransport a {
    font-size: 12px;
  }
  .navLineTransport a svg{
    margin-left:5px
  }
}
@media screen and (max-width: 620px) {

  .seachBarTitle{
      font-size:18px;
      line-height: 28px;
  }
}