body {
  margin: 0;
  padding:0;
}
@font-face {
  font-family: "AchemineBold";
  src: url("../src/assets/fonts/Achemine/achemine_bold.ttf");
}
*{
@font-face {
  font-family: "AvenirMedium";
  src: url("../src/assets/fonts/Arial.TTF");
}

@font-face {
  font-family: "AvenirHeavy";
  src: url("../src/assets/fonts/Avenir/AvenirHeavy.ttf");
}

/* *{
  font-family: "AchemineBold";
} */

.headerOfferImg{
  width:100%;
  display: flex;
  justify-content: center;
}
.headerOfferImg img{
  max-height: 300px;
  min-height: 100px;
  height: auto;
  width: 90vw;
}

.homeBody{
  width:100%;
  margin: 0;
  background-color: #F3F3F8;
}