.bodySearchPage{
    background-color: var(--gray-color);
    height: 750px;
    margin:0;
    padding: 30px 6vw;
    font-family: "AvenirMedium";
}

.TitleSearchPage{
    color:var(--white-color);
    padding:0 80px;
    font-family: "AchemineBold";
    font-size: 24px;
}

.searchBar{
    max-width:80vw;
    background-color: var(--white-color);
    border-radius: 14px;
}

.searchPageInput input{
    border:none;
    height: 30px;
    width:91%;
    font-size: 16px;
}

.searchPageInput{
    padding:11px 17px;
    border-bottom:2px solid var(--gray-color);
}

@media screen and (max-width: 600px) {

    .TitleSearchPage{
        padding: 0px 30px;
        font-size: 19px;
    }
    /* searchBar result */
    .bodySearchPage li{
        font-size: 13px;
    }
    li{
        padding:15px;
    }
}