body.bodySearchPage{
    background-color: #f3f3f8;
    height: 100%;
    margin:0;
    padding: 48px 80px;
}

.searchBar{
    width:80vw;
    background-color: #FFF;
    border-radius: 14px;
}

.searchPageInput input{
    border:none
}

.searchPageInput{
    padding:11px 17px;
    border-bottom:2px solid #f3f3f8;
}